*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body{
    background: #111827  ;
    color: rgb(252, 252, 252);
    overflow: hidden;
    overflow-y: scroll;
}
