*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body{
    background: rgb(255, 255, 255);
    color: rgb(13, 12, 12);
    overflow: hidden;
    overflow-y: scroll;
}
