#about {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.aboutTittle {
  border-bottom: 5px solid yellow;
  padding-bottom: 1.5rem;
  margin-top: -3rem;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.aboutDes {
  font-weight: 600;
  font-size: 1.1rem;
  max-width: 51rem;
  padding: 0 2rem;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.aboutBar {
  margin: 0.75rem;
  width: 50vw;
  max-width: 60%;
  text-align: left;
}
.aboutInfo {
  display: flex;
  margin: 0.5rem;
  padding: 1rem 1rem;
  background: #f3f948;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 50px;
  border: 1px solid #1c1c0d;
}
.aboutIcon {
  object-fit: cover;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0.25rem;
  background-color: transparent;
}
.aboutText {
  margin: 0.18rem;
  padding-right: 2rem;
  font-weight: 400;
}
.aboutValue {
  font-weight: 500;
  padding-left: 2rem;
}
.aboutValueA {
  font-weight: 500;
  padding-left: 1rem;
}
.aboutLinkedin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbdfea;
  border: 1px solid rgb(43, 33, 112);
  border-radius: 28px;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: background-color 0.3s ease;
  gap: 8px;
  margin-left: 5px;
  width: fit-content;
  margin-bottom: 10rem;
}

.aboutLinkedin:hover {
  background-color: #c0c4d1;
}

.aboutLinkedin .aboutLinkText {
  color: rgb(28, 72, 215);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.aboutLinkedin .aboutLinkText:hover {
  color: #2527a7;
}

.aboutLinkedin svg {
  font-size: 1.5rem;
  color: rgb(19, 89, 193);
}
