.navbar {
  background: white;
  height: 5rem;
  width: 100vw;
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}
.logo {
  object-fit: cover;
  height: 3rem;
}
.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: large;
}
.desktopMenuListItem:hover {
  color: yellow;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellow;
  color: black;
}
.active {
  color: #f3c623;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #f3c623;
}
.buttonContact {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 3rem;
  padding: 0.5rem 0.75rem;
  background-color: #FEEC37;
  color: rgb(29, 27, 27);
  font-weight: 600;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  gap: 8px;
  
}

.buttonContact:hover {
  background-color: #f3d822;
}

.buttonContact .desktopMenuIcon {
  width: 1.35rem;
  height: 1.5rem;
  margin-top: 0.5;
}
