#experience {
  min-height: calc(100vh - 4rem);
  width: 100vh;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 2rem;
}


.experDes {
  font-weight: 600;
  font-size: 1.10rem;
  max-width: 51rem;
  padding: 0 2rem;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.experTittle {
  border-bottom: 5px solid yellow;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 10rem;
  margin-bottom: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: -11rem;
}
.divLine{
  color: black;
}
